@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    padding: 24px;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        color: variaveis.$corDoTexto;
        text-transform: uppercase;
        padding-left: 16px;
    }

    &__links {
        padding: 8px 16px;

        &__item {
            display: inline;
            padding: 8px;

            a {
                color: variaveis.$corTextoSecundario;
                text-decoration: none;
            }
        }
    }
}