.novidades {
    background-color: #ccc;

    &__title {
        padding: 16px;
        text-align: center;
        font-size: 32px;
    }

    &__subtitle {
        text-align: center;
    }

    &__container {
        padding: 32px 5.6vw;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        list-style: none;

        &__item {
            text-align: center;

            img {
                margin-top: 24px;
                max-width: 360px;
            }

            h3 {
                padding: 8px;
            }
        }
    }
}